<aside>
	<div>
		<ul class="sidebar-menu designer">
			<li class="sidebar-menu-top" ng-class="{active:$state.includes('dashboard.preferences.designer.general')}">
				<a ui-sref="dashboard.preferences.designer.general">
					<div class="sidebar-menu__icon sidebar-menu__icon--designer-settings"></div>
					<div class="sidebar-menu__name">General</div>
				</a>
			</li>
			<!-- <li class="sidebar-menu-top" ng-class="{active:$state.includes('dashboard.preferences.designer.grid')}">
				<a ui-sref="dashboard.preferences.designer.grid">
					<div class="sidebar-menu-icon sidebar-menu__icon--designer-grid"></div>
					<div class="sidebar-menu-name">Grid</div>
				</a>
			</li>
			<li class="sidebar-menu-top" ng-class="{active:$state.includes('dashboard.preferences.designer.units')}">
				<a ui-sref="dashboard.preferences.designer.units">
					<div class="sidebar-menu-icon sidebar-menu__icon--designer-justice"></div>
					<div class="sidebar-menu-name">Units & Increments</div>
				</a>
			</li> -->
		</ul>
	</div>
</aside>
