<aside>
	<div>
		<ul class="sidebar-menu">
			<li class="sidebar-menu-top" ng-class="{active:$state.includes('dashboard.default.social-media.twitter')}" id="twitter">
				<a ui-sref="dashboard.default.social-media.twitter">
					<div class="sidebar-menu__icon sidebar-menu__icon--twitter"></div>
					<div class="sidebar-menu__name">Twitter</div>
				</a>
			</li>
			<li class="sidebar-menu-top" ng-class="{active:$state.includes('dashboard.default.social-media.facebook')}">
				<a ui-sref="dashboard.default.social-media.facebook">
					<div class="sidebar-menu__icon sidebar-menu__icon--facebook"></div>
					<div class="sidebar-menu__name">Facebook</div>
				</a>
			</li>
			<li class="sidebar-menu-top" ng-class="{active:$state.includes('dashboard.default.social-media.instagram')}">
				<a ui-sref="dashboard.default.social-media.instagram">
					<div class="sidebar-menu__icon sidebar-menu__icon--instagram"></div>
					<div class="sidebar-menu__name">Instagram</div>
				</a>
			</li>
			<li class="sidebar-menu-top" ng-class="{active:$state.includes('dashboard.default.social-media.pinterest')}">
				<a ui-sref="dashboard.default.social-media.pinterest">
					<div class="sidebar-menu__icon sidebar-menu__icon--pinterest"></div>
					<div class="sidebar-menu__name">Pinterest</div>
				</a>
			</li>
			<li class="sidebar-menu-top" ng-class="{active:$state.includes('dashboard.default.social-media.google-plus')}">
				<a ui-sref="dashboard.default.social-media.google-plus">
					<div class="sidebar-menu__icon sidebar-menu__icon--google-plus"></div>
					<div class="sidebar-menu__name">Google+</div>
				</a>
			</li>
		</ul>
	</div>
</aside>
