<div class="social-media twitter" id="twitter-body">
	<ul class="stream">
		<li>
			<div class="media">
				<a href="#" class="pull-left" target="_blank">
					<img src="http://placehold.it/50x50/f000ff/000000" class="media-object" alt="">
				</a>
				<div class="media-body">
					<h4 class="media-heading">
						Opera House
						<small><a href="http://twitter.com" target="_blank">@operahouse</a></small>
						<span>13 Hour 23 Minutes</span>
					</h4>
					Tonight <a href="http://twitter.com" target="_blank">@MoMA</a>: Design and Violence debate with <a href="http://twitter.com" target="_blank">@notrobwalker</a> and the designer of the world's first 3-D printed gun. <a href="http://twitter.com" target="_blank">http://dogroup.co/1rw0aNb</a>
				</div>
			</div>
		</li>
		<li>
			<div class="media">
				<a href="#" class="pull-left" target="_blank">
					<img src="http://placehold.it/50x50/f000ff/000000" class="media-object" alt="">
				</a>
				<div class="media-body">
					<h4 class="media-heading">
						Opera House
						<small><a href="http://twitter.com" target="_blank">@operahouse</a></small>
						<span>13 Hour 23 Minutes</span>
					</h4>
					Tonight <a href="http://twitter.com" target="_blank">@MoMA</a>: Design and Violence debate with <a href="http://twitter.com" target="_blank">@notrobwalker</a> and the designer of the world's first 3-D printed gun. <a href="http://twitter.com" target="_blank">http://dogroup.co/1rw0aNb</a>
				</div>
			</div>
		</li>
		<li>
			<div class="media">
				<a href="#" class="pull-left" target="_blank">
					<img src="http://placehold.it/50x50/f000ff/000000" class="media-object" alt="">
				</a>
				<div class="media-body">
					<h4 class="media-heading">
						Opera House
						<small><a href="http://twitter.com" target="_blank">@operahouse</a></small>
						<span>13 Hour 23 Minutes</span>
					</h4>
					Tonight <a href="http://twitter.com" target="_blank">@MoMA</a>: Design and Violence debate with <a href="http://twitter.com" target="_blank">@notrobwalker</a> and the designer of the world's first 3-D printed gun. <a href="http://twitter.com" target="_blank">http://dogroup.co/1rw0aNb</a>
					<img src="http://placehold.it/1500x400/af000f">
				</div>
			</div>
		</li>
		<li>
			<div class="media">
				<a href="#" class="pull-left" target="_blank">
					<img src="http://placehold.it/50x50/f000ff/000000" class="media-object" alt="">
				</a>
				<div class="media-body">
					<h4 class="media-heading">
						Opera House
						<small><a href="http://twitter.com" target="_blank">@operahouse</a></small>
						<span>13 Hour 23 Minutes</span>
					</h4>
					Tonight <a href="http://twitter.com" target="_blank">@MoMA</a>: Design and Violence debate with <a href="http://twitter.com" target="_blank">@notrobwalker</a> and the designer of the world's first 3-D printed gun. <a href="http://twitter.com" target="_blank">http://dogroup.co/1rw0aNb</a>
				</div>
			</div>
		</li>
	</ul>
</div>