//------------------------------------------------------------------
//                     COUPONS
//------------------------------------------------------------------
.coupons {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.coupons__list-container {
    position: relative;
    width: 100%;
    height: 50%;
}

.coupons__details-container {
    height: 50%;
    margin-top: 10px;
}

.coupons__details-section {
    width: 100%;
    height: 100%;
}

.coupons__spinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
}

.coupon__multi-select {
    height: 315px;
    overflow: auto;
}

.coupon__discount-value {
    width: 80px !important;
}

.coupon__date-input {
    width: 195px !important;
}
