<ng-form novalidate class="text-advanced">
	<div class="form-element inline">
		<label>
			<span class="textadvanced-text">Label</span>
			<span class="textadvanced-alignment">
				<span class="justify-left">Justify left</span>
				<span class="justify-center">Justify center</span>
				<span class="justify-right">Justify right</span>
			</span>
			<span class="textadvanced-addline">+ Add a line</span>
		</label>
		<textarea rows="1" cols="50" style="resize: none;">Lorem ipsum...</textarea>
		<span class="alert label">Error message</span>
	</div>
</ng-form>