<div class="palette__container">
    <div class="palette__swatches">
        <div class="palette__color--primary-500 palette__swatch-title">
            <h3 class="palette__name">Primary</h3>
        </div>
        <span class="palette__color-swatch palette__color--primary-50">50</span>
        <span class="palette__color-swatch palette__color--primary-100">100</span>
        <span class="palette__color-swatch palette__color--primary-200">200</span>
        <span class="palette__color-swatch palette__color--primary-300">300</span>
        <span class="palette__color-swatch palette__color--primary-400">400</span>
        <span class="palette__color-swatch palette__color--primary-500">500</span>
        <span class="palette__color-swatch palette__color--primary-600">600</span>
        <span class="palette__color-swatch palette__color--primary-700">700</span>
        <span class="palette__color-swatch palette__color--primary-800">800</span>
        <span class="palette__color-swatch palette__color--primary-900">900</span>
    </div>
    <div class="palette__swatches">
        <div class="palette__color--light-500 palette__swatch-title">
            <h3 class="palette__name">Light</h3>
        </div>
        <span class="palette__color-swatch palette__color--light-50">50</span>
        <span class="palette__color-swatch palette__color--light-100">100</span>
        <span class="palette__color-swatch palette__color--light-200">200</span>
        <span class="palette__color-swatch palette__color--light-300">300</span>
        <span class="palette__color-swatch palette__color--light-400">400</span>
        <span class="palette__color-swatch palette__color--light-500">500</span>
        <span class="palette__color-swatch palette__color--light-600">600</span>
        <span class="palette__color-swatch palette__color--light-700">700</span>
        <span class="palette__color-swatch palette__color--light-800">800</span>
        <span class="palette__color-swatch palette__color--light-900">900</span>
    </div>
    <div class="palette__swatches">
        <div class="palette__color--dark-500 palette__swatch-title">
            <h3 class="palette__name">Dark</h3>
        </div>
        <span class="palette__color-swatch palette__color--dark-50">50</span>
        <span class="palette__color-swatch palette__color--dark-100">100</span>
        <span class="palette__color-swatch palette__color--dark-200">200</span>
        <span class="palette__color-swatch palette__color--dark-300">300</span>
        <span class="palette__color-swatch palette__color--dark-400">400</span>
        <span class="palette__color-swatch palette__color--dark-500">500</span>
        <span class="palette__color-swatch palette__color--dark-600">600</span>
        <span class="palette__color-swatch palette__color--dark-700">700</span>
        <span class="palette__color-swatch palette__color--dark-800">800</span>
        <span class="palette__color-swatch palette__color--dark-900">900</span>
    </div>
    <div class="palette__swatches">
        <div class="palette__color--info-500 palette__swatch-title">
            <h3 class="palette__name">Info</h3>
        </div>
        <span class="palette__color-swatch palette__color--info-50">50</span>
        <span class="palette__color-swatch palette__color--info-100">100</span>
        <span class="palette__color-swatch palette__color--info-200">200</span>
        <span class="palette__color-swatch palette__color--info-300">300</span>
        <span class="palette__color-swatch palette__color--info-400">400</span>
        <span class="palette__color-swatch palette__color--info-500">500</span>
        <span class="palette__color-swatch palette__color--info-600">600</span>
        <span class="palette__color-swatch palette__color--info-700">700</span>
        <span class="palette__color-swatch palette__color--info-800">800</span>
        <span class="palette__color-swatch palette__color--info-900">900</span>
    </div>
    <div class="palette__swatches">
        <div class="palette__color--success-500 palette__swatch-title">
            <h3 class="palette__name">Success</h3>
        </div>
        <span class="palette__color-swatch palette__color--success-50">50</span>
        <span class="palette__color-swatch palette__color--success-100">100</span>
        <span class="palette__color-swatch palette__color--success-200">200</span>
        <span class="palette__color-swatch palette__color--success-300">300</span>
        <span class="palette__color-swatch palette__color--success-400">400</span>
        <span class="palette__color-swatch palette__color--success-500">500</span>
        <span class="palette__color-swatch palette__color--success-600">600</span>
        <span class="palette__color-swatch palette__color--success-700">700</span>
        <span class="palette__color-swatch palette__color--success-800">800</span>
        <span class="palette__color-swatch palette__color--success-900">900</span>
    </div>
    <div class="palette__swatches">
        <div class="palette__color--warning-500 palette__swatch-title">
            <h3 class="palette__name">Warning</h3>
        </div>
        <span class="palette__color-swatch palette__color--warning-50">50</span>
        <span class="palette__color-swatch palette__color--warning-100">100</span>
        <span class="palette__color-swatch palette__color--warning-200">200</span>
        <span class="palette__color-swatch palette__color--warning-300">300</span>
        <span class="palette__color-swatch palette__color--warning-400">400</span>
        <span class="palette__color-swatch palette__color--warning-500">500</span>
        <span class="palette__color-swatch palette__color--warning-600">600</span>
        <span class="palette__color-swatch palette__color--warning-700">700</span>
        <span class="palette__color-swatch palette__color--warning-800">800</span>
        <span class="palette__color-swatch palette__color--warning-900">900</span>
    </div>
    <div class="palette__swatches">
        <div class="palette__color--danger-500 palette__swatch-title">
            <h3 class="palette__name">Danger</h3>
        </div>
        <span class="palette__color-swatch palette__color--danger-50">50</span>
        <span class="palette__color-swatch palette__color--danger-100">100</span>
        <span class="palette__color-swatch palette__color--danger-200">200</span>
        <span class="palette__color-swatch palette__color--danger-300">300</span>
        <span class="palette__color-swatch palette__color--danger-400">400</span>
        <span class="palette__color-swatch palette__color--danger-500">500</span>
        <span class="palette__color-swatch palette__color--danger-600">600</span>
        <span class="palette__color-swatch palette__color--danger-700">700</span>
        <span class="palette__color-swatch palette__color--danger-800">800</span>
        <span class="palette__color-swatch palette__color--danger-900">900</span>
    </div>
</div>
