//------------------------------------------------------------------
//                     PAYMENT STATUS
//------------------------------------------------------------------
.payment-status {
    width: 100%;
    min-height: 100%;
    padding: 50px 0;
    background: rgba(map-get($colors, dark-900), 0.6);
}

.payment-status__box {
    box-sizing: content-box;
    width: 520px;
    margin: 0 auto;
    padding: 60px 65px 40px 65px;
    background: map-get($colors, light-50);
    border: 1px solid map-get($colors, light-400);
    border-radius: 6px;
    line-height: 1.6;
    color: map-get($colors, dark-600);
}

.payment-status__title {
    margin-bottom: 30px;
    text-align: center;
}

.payment-status__details {
    display: block;
    margin-bottom: 30px;
    font-size: 19px;
    text-align: center;
    color: map-get($colors, dark-400)666;
}
