<aside class="frp-cost" id="frp-cost">
	<span class="frp-close" frp-close></span>

	<form>
        <div>
            <h1> Pricing <span></span></h1>
            <h3>Sample</h3>
            <table>
                <thead>
                <tr>
                    <th>DESCRIPTION</th>
                    <th></th>
                    <th>QTY</th>
                    <th></th>
                    <th>DISC.</th>
                    <th>PRICE</th>
                </tr>
                </thead>
                <tbody ng-repeat-end="" class="ng-scope">
                <tr class="ng-scope">
                    <td><b>Size: </b><span>LL Horizontal</span>
                    </td>
                    <td></td>
                    <td class="text-center"><span>1</span>
                    </td>
                    <td></td>
                    <td class="text-right"></td>
                    <td class="text-right">$100.00</td>
                </tr>
                <tr class="ng-scope">
                    <td><b>Cover Material: </b><span>Coal 826 Linen</span>
                    </td>
                    <td></td>
                    <td class="text-center"><span></span>
                    </td>
                    <td></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                </tr>
                <tr class="ng-scope">
                    <td><b>End Papers: </b><span>Fine Art Cream</span>
                    </td>
                    <td></td>
                    <td class="text-center"><span></span>
                    </td>
                    <td></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                </tr>
                <tr class="ng-scope">
                    <td><b>Paper type: </b><span>Futura</span>
                    </td>
                    <td></td>
                    <td class="text-center"><span>1</span>
                    </td>
                    <td></td>
                    <td class="text-right"></td>
                    <td class="text-right">$30.00</td>
                </tr>
                <tr class="ng-scope">
                    <td><b>Sides: </b><span>20</span>
                    </td>
                    <td></td>
                    <td class="text-center"><span></span>
                    </td>
                    <td></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                </tr>
                <tr class="ng-scope">
                    <td><b>Stamping Text: </b><span>My Album Name Upper &amp; Lower Case, Lydian Bold Italic 70pt</span>
                    </td>
                    <td></td>
                    <td class="text-center"><span>1</span>
                    </td>
                    <td></td>
                    <td class="text-right"></td>
                    <td class="text-right">$25.00</td>
                </tr>
                <tr class="ng-scope">
                    <td><b>Stamping Foil: </b><span>Red</span>
                    </td>
                    <td></td>
                    <td class="text-center"><span></span>
                    </td>
                    <td></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                </tr>
                <tr>
                    <td colspan="6">
                        <hr>
                    </td>
                </tr>
                <tr class="summary">
                    <td colspan="5" class="text-right">SUBTOTAL</td>
                    <td class="text-right">$155.00</td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td colspan="6">
                        <hr>
                    </td>
                </tr>
                <tr class="summary">
                    <td colspan="5" class="text-right text-white">SUBTOTAL</td>
                    <td class="text-white">$155.00</td>
                </tr>
                </tbody>
            </table>
            <div class="pull-right">
                <button class="button dark tick">Sample</button>
            </div>
        </div>
	</form>

</aside>
