<aside class="frp-info">
	<span class="frp-close" frp-close></span>
	
	<form>
		<div>
			<h1>Information</h1>
			<h2>My new project</h2>
			<p>Description of product line goes here for as long as it requires.</p>
			<p>Multimedia is displayed in the middle of the canvas with thumbnails in the filmstrip on the bottom.</p>
			<h2>Project Breakdown</h2>
			<p>
				13” x 11” Horizontal Center<br>
				Leather Cover<br>
				Item line three<br>
				Item line four<br>
			</p>
			<h2>Client Info</h2>
			<p>Maybe there are client profiles or more info about the album that goes here.</p>
		</div>
		<footer aside-footer>
			<button class="button half dark pull-left" frp-close>Cancel</button>
			<button class="button half color pull-right">Next</button>
		</footer>
	</form>
</aside>