<div>
	<!--<div class="sort-bar">-->
		<!-- <span class="sort-label">12 Results</span> -->
		<!-- <div class="filter-bar">
			<span class="sort-arrow"></span>
			<span class="sort-filter" data-dropdown="date-sort"></span>
			<div id="date-sort" class="f-dropdown" data-dropdown-content>
				<h2>FILTER</h2>
				<hr/>
				<span class="calendar" ></span>
				<input type="text" pick-a-date="date" placeholder="Select Date" />
				<button class="large">Apply Filters</button>
				<p><a>Clear filters</a></p>
			</div>
		</div> -->
	<!--</div>-->

    <div class="invoice-list">
        <react-component name="OrderListComponent" props="orderListProps"></react-component>
    </div>

	<!-- <footer class="jobs-footer invoice-footer">
		<div class="period-total"><p>Period Total:</p><p>${{periodTotal}}</p></div>

		<button class="icon-button" data-dropdown="download-top"><span class="span-pdf"></span></button>
		<ul id="download-top" class="f-dropdown" data-dropdown-content dropdown-top>
			<li><a><span class="span-pdf"></span> Download selected</a></li>
			<li><a><span class="span-pdfs"></span> Download all</a></li>
		</ul>
		<button class="icon-button" data-dropdown="mail-top"><span class="span-mail"></span></button>
		<ul id="mail-top" class="f-dropdown" data-dropdown-content dropdown-top>
			<li><a><span class="span-mail"></span> Email selected</a></li>
			<li><a><span class="span-mail"></span> Email all</a></li>
		</ul>

	</footer> -->

</div>
