<div class="frp-overlay"></div>
<div class="frp-content frp-content--prefs">
	<aside class="frp-prefs">
		<div class="layout-section__content">
			<tabs class="prefs-tabs-inside" gap-bottom="false" color="dark-grey" round="top" size="x-large" no-left-border="false" gap-side="1px">
			    <tab title="Album" color="dark-grey">
			    	<div class="album-content">
			    		<div class="row">
			    			<span class="large-2 columns left">Album Name:</span>
			    			<div class="large-4 columns left">
			    				<input type="text"></input>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-2 columns left">Password:</span>
			    			<div class="large-4 columns left">
			    				<input type="password"></input>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-2 columns left">Confirm Password:</span>
			    			<div class="large-4 columns left">
			    				<input type="password"></input>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-2 columns left"></span>
			    			<div class="large-2 columns left">
			    				<button class="color left">Save Settings</button>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-2 columns left">Album Approvals:</span>
			    			<div class="large-3 columns left">
			    				<button class="dark left unapprove">Unapprove Entire Album</button>
			    				<span class="gray">You may unapprove the entire album if <br/>your client had mistakenly approved it.</span>
			    			</div>
			    		</div>
			    	</div>
			    </tab>
			    <tab title="Presentation" color="dark-grey">
			    	<div class="presentation-content">
			    		<div class="row">
			    			<span class="large-5 columns left">Setup the presentation your client will see when proofing.</span>
			    		</div>
			    		<div class="row">
			    			<span class="large-3 columns left info">Start Numbering On:</span>
			    			<div class="large-2 columns left">
			    				<dropdown-button class="dark"></dropdown-button>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-3 columns left info">Default View:</span>
			    			<div class="large-2 columns left">
			    				<dropdown-button class="dark"></dropdown-button>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-3 columns left">Show Fold Line On Book View:</span>
			    			<div class="large-2 columns left">
			    				<div class="onoffswitch onoffswitch--on-off onoffswitch--dark">
								    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="foldline" checked>
								    <label class="onoffswitch-label" for="foldline">
								        <span class="onoffswitch-inner"></span>
								        <span class="onoffswitch-switch"></span>
								    </label>
								</div>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-3 columns left info">Slideshow Music:</span>
			    			<div class="large-2 columns left">
			    				<dropdown-button class="dark"></dropdown-button>
			    			</div>
			    			<span class="large-1 columns left volume"></span>
			    		</div>
			    		<div class="row">
			    			<span class="large-3 columns left info">Language:</span>
			    			<div class="large-2 columns left">
			    				<dropdown-button class="dark"></dropdown-button>
			    			</div>
			    		</div>
			    	</div>
			    </tab>
			    <tab title="Client Notifications" color="dark-grey">
			    	<div class="notifications-content">
			    		<div class="row">
			    			<span class="large-5 columns left">You can turn automatic client notifications on or off.</span>
			    		</div>
			    		<div class="row">
			    			<span class="large-3 columns left info">Client Notifications:</span>
			    			<div class="large-2 columns left">
			    				<div class="onoffswitch onoffswitch--on-off onoffswitch--dark">
								    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="notifications" checked>
								    <label class="onoffswitch-label" for="notifications">
								        <span class="onoffswitch-inner"></span>
								        <span class="onoffswitch-switch"></span>
								    </label>
								</div>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-3 columns left">Client Name:</span>
			    			<div class="large-4 columns left">
			    				<input type="text"></input>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-3 columns left">Client Email:</span>
			    			<div class="large-4 columns left">
			    				<input type="text"></input>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-3 columns left info">Notify Client On New Comments:</span>
			    			<div class="large-2 columns left">
			    				<div class="onoffswitch onoffswitch--on-off onoffswitch--dark">
								    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="newcomments" checked>
								    <label class="onoffswitch-label" for="newcomments">
								        <span class="onoffswitch-inner"></span>
								        <span class="onoffswitch-switch"></span>
								    </label>
								</div>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-3 columns left info">Enable Proofing Reminder:</span>
			    			<div class="large-2 columns left">
			    				<div class="onoffswitch onoffswitch--on-off onoffswitch--dark">
								    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="proofing" checked>
								    <label class="onoffswitch-label" for="proofing">
								        <span class="onoffswitch-inner"></span>
								        <span class="onoffswitch-switch"></span>
								    </label>
								</div>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-3 columns left info">Enable Approval Reminder:</span>
			    			<div class="large-2 columns left">
			    				<div class="onoffswitch onoffswitch--on-off onoffswitch--dark">
								    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="approval" checked>
								    <label class="onoffswitch-label" for="approval">
								        <span class="onoffswitch-inner"></span>
								        <span class="onoffswitch-switch"></span>
								    </label>
								</div>
			    			</div>
			    		</div>
			    	</div>
			    </tab>
			    <tab title="Send to Client" color="dark-grey">
			    	<div class="client-send-content">
			    		<div class="row">
			    			<span class="large-12 columns left">You may send via PACE or copy the message and send it in your preferred email client.</span>
			    		</div>
			    		<div class="row">
			    			<span class="large-2 columns left">To:</span>
			    			<div class="large-4 columns left">
			    				<input type="email"></input>
			    			</div>
			    			<div class="large-6 columns left">
			    				<span class="span-margin">From:</span><span>mathew@poweredbypace.com</span>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-2 columns left">Reply To:</span>
			    			<div class="large-4 columns left">
			    				<input type="email"></input>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-2 columns left">CC:</span>
			    			<div class="large-4 columns left">
			    				<input type="email"></input>
			    			</div>
		    				<div class="large-1 columns left">
		    					<span class="span-margin left">BCC:</span>
			    			</div>
			    			<div class="large-3 columns left">
			    				<input type="email"></input>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-2 columns left">Subject:</span>
			    			<div class="large-8 columns left">
			    				<input type="text"></input>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-2 columns left">Message:</span>
			    			<div class="large-8 columns left">
			    				<input type="text" class="message-input"></input>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<div class="large-2 columns left">&nbsp;</div>
			    			<span class="large-3 columns left info">Enable Proofing Reminder:</span>
			    			<div class="onoffswitch onoffswitch--on-off onoffswitch--dark exception left">
							    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="proofingmessage" checked>
							    <label class="onoffswitch-label" for="proofingmessage">
							        <span class="onoffswitch-inner"></span>
							        <span class="onoffswitch-switch"></span>
							    </label>
							</div>
							<span class="large-3 columns left info">Enable Approval Reminder:</span>
			    			<div class="onoffswitch onoffswitch--on-off onoffswitch--dark exception left">
							    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="approvalmessage" checked>
							    <label class="onoffswitch-label" for="approvalmessage">
							        <span class="onoffswitch-inner"></span>
							        <span class="onoffswitch-switch"></span>
							    </label>
							</div>
			    		</div>
			    		<div class="row">
				    		<div class="large-2 columns left">&nbsp;</div>
				    		<div class="large-9 columns left">
				    			<button class="dark">Preview</button>
				    			<button class="dark email-client">Send in Email Client</button>
				    			<button class="color">Send to Client</button>
				    		</div>
			    		</div>
			    	</div>
			    </tab>
			    <tab title="Share Album" color="dark-grey">
			    	<div class="share-album-content">
			    		<div class="row">
			    			<span class="large-2 columns left info">Enable Sharing:</span>
			    			<div class="large-2 columns left">
			    				<div class="onoffswitch onoffswitch--on-off onoffswitch--dark">
								    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="sharing" checked>
								    <label class="onoffswitch-label" for="sharing">
								        <span class="onoffswitch-inner"></span>
								        <span class="onoffswitch-switch"></span>
								    </label>
								</div>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-2 columns left">Public Link:</span>
			    			<div class="large-6 columns left">
			    				<input type="url" value="http://pace.com/mathew/public/mynewproject"></input>
			    			</div>
			    			<div class="large-2 columns left">
			    				<button class="color white">Copy Link</button>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-2 columns left">Social Media:</span>
			    			<div class="large-6 columns left" init-pace-tooltip>
			    				<a href="#" data-pace-tooltip="twitter"><span class="social twitter"></span></a>
			    				<a href="#" data-pace-tooltip="facebook"><span class="social facebook"></span></a>
			    				<a href="#" data-pace-tooltip="googleplus"><span class="social googleplus"></span></a>
			    				<a href="#" data-pace-tooltip="pinterest"><span class="social pinterest"></span></a>
			    				<a href="#" data-pace-tooltip="tumblr"><span class="social tumblr"></span></a>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<div class="large-2 columns left">
			    				<h2>Embed Album</h2>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<span class="large-2 columns left info">Embed width:</span>
			    			<div class="large-2 columns left">
			    				<input type="text" value="960 px"></input>
			    			</div>
			    			<span class="large-2 columns left info text-right">Embed height:</span>
			    			<div class="large-2 columns left">
			    				<input type="text" value="600 px"></input>
			    			</div>
			    			<div class="large-2 columns left">
			    				<button class="color white">Update Code</button>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<div class="large-2 columns left">
				    			<span class="left info">HTML:</span>
				    			<span class="html-info">
				    				Copy this code into <br/>your website to<br/> embed the album.
				    			</span>
				    		</div>
			    			<div class="large-8 columns left">
			    				<textarea>{{codeExample}}</textarea>
			    			</div>
			    		</div>
			    	</div>
			    </tab>
			</tabs>
		</div><!-- end of section content -->

		<footer class="section-footer">
			<button class="button dark right button-primary" ui-sref="^">Close</button>
		</footer><!-- end of section footer -->

	</aside>
</div>
