<section>
    <form name="form" novalidate style="margin:40px">
        <h3 class="subheader">{{'enterNewPass'|i18n}}</h3>
        <div class="row">
            <div class="large-12 columns">
                <div class="form-element">
                    <label for="inputPassword" >{{'password'|i18n}}</label>
                    <input type="password" placeholder="{{'passwordPlaceholder'|i18n}}" id="inputPassword" data-min-length="6" 
                        data-ng-model="password" name="inPassword" correct-password="" required ng-focus set-focus="true">
                    <span ng-show="form.inPassword.$blurred && form.inPassword.$error.required" class="alert label">{{'passwordRequired'|i18n}}</span>
                    <span ng-show="form.inPassword.$blurred && form.inPassword.$error.short && !form.inPassword.$error.required" class="alert label">{{'passwordTooShort'|i18n}}</span>
                    <span ng-show="form.inPassword.$blurred && form.inPassword.$error.wrong && !form.inPassword.$error.required" class="alert label">{{'passwordWrongChars'|i18n}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <div class="form-element">
                    <label for="inputPasswordConfirm" >{{'confirmPassword'|i18n}}</label>
                    <input type="password" placeholder="{{'passwordConfirmPlaceholder'|i18n}}"  id="inputPasswordConfirm" 
                        name="inPasswordConfirm" ng-model="confirmPassword" match-fields="password" required ng-focus>
                    <span ng-show="form.inPasswordConfirm.$blurred && form.inPasswordConfirm.$error.required" class="alert label">{{'passwordConfirmationRequired'|i18n}}</span>
                    <span ng-show="form.inPasswordConfirm.$blurred && form.inPasswordConfirm.$error.doesntMatch && !form.inPasswordConfirm.$error.required" 
                        class="alert label">{{'passwordNotMatch'|i18n}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <button class="button pull-right" ng-disabled="form.$invalid || saving" ng-click="save()">Save</button>
            </div>
        </div>

    </form>
</section>