<form class="custom" data-ng-show="actPage != 'done'" name="form" form-submit="submit()" novalidate>
	<h2>{{'resetPass'|i18n}}</h2>
	<h3 class="subheader">{{'enterNewPass'|i18n}}</h3>
	<div class="row">
		<div class="large-12 columns">
			<div class="form-element">
				<label for="inputPassword" >{{'password'|i18n}}</label>
				<input type="password" placeholder="{{'passwordPlaceholder'|i18n}}" id="inputPassword" data-min-length="6" 
					data-ng-model="password" name="inPassword" data-correct-password="" required ng-focus>
				<span ng-show="form.inPassword.$blurred && form.inPassword.$error.required" class="alert label">{{'passwordRequired'|i18n}}</span>
				<span ng-show="form.inPassword.$blurred && form.inPassword.$error.short && !form.inPassword.$error.required" class="alert label">{{'passwordTooShort'|i18n}}</span>
				<span ng-show="form.inPassword.$blurred && form.inPassword.$error.wrong && !form.inPassword.$error.required" class="alert label">{{'passwordWrongChars'|i18n}}</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<div class="form-element">
				<label for="inputPasswordConfirm" >{{'confirmPassword'|i18n}}</label>
	          	<input type="password" placeholder="{{'passwordConfirmPlaceholder'|i18n}}"  id="inputPasswordConfirm" 
					name="inPasswordConfirm" data-ng-model="confirmPassword"  data-match-fields="password" required ng-focus>
				<span ng-show="form.inPasswordConfirm.$blurred && form.inPasswordConfirm.$error.required" class="alert label">{{'passwordConfirmationRequired'|i18n}}</span>
	          	<span ng-show="form.inPasswordConfirm.$blurred && form.inPasswordConfirm.$error.doesntMatch && !form.inPasswordConfirm.$error.required" 
	          		class="alert label">{{'passwordNotMatch'|i18n}}</span>
          	</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns cntr">
			<button class="button">{{'nextMeski'|i18n}}</button>
		</div>
	</div>
</form>

<form class="custom" data-ng-show="actPage == 'done'">
	<h2>{{'passwordChanged'|i18n}}</h2>
	<h3 class="subheader">{{'signInWithNewPassword'|i18n}}</h3>
	<div class="row">
		<div class="large-12 columns cntr">
			<a href="#/login" class="button">{{'signIn'|i18n}}</a>
		</div>
	</div>
</form>
