<div class="frp-overlay"></div>
<div class="frp-content">
	<aside class="frp-pages">

		<div class="layout-section__pages-content">
			<react-component name="ProoferPageThumbListComponent" props="fullPagesProps" watch-depth="reference"></react-component>
		</div><!-- end of section content -->

		<footer class="layout-section__footer--pages">
			<button id="close-frp-pages" class="button dark arrow-down button-primary" ng-click="closePages()">Close</button>

			<div class="pull-right left-margin">
				<span class="button dark resize-inner" ng-click="zoomDefault()"></span>
				<div class="slider-container topx dark">
					<rzslider rz-slider-model="fullPagesProps.thumbScale" rz-slider-floor="0.2" rz-slider-ceil="1" rz-slider-step="0.01" rz-slider-precision="2"></rzslider>
					<span class="slider-scale scale-1 scale-type-full"></span>
					<span class="slider-scale scale-2 scale-type-full"></span>
					<span class="slider-scale scale-3 scale-type-full"></span>
					<span class="slider-scale scale-4 scale-type-full"></span>
					<span class="slider-scale scale-5 scale-type-full"></span>
					<span class="slider-scale scale-6 scale-type-full"></span>
					<span class="slider-scale scale-7 scale-type-full"></span>
				</div>
				<span class="button dark resize-outer" ng-click="zoomToFit()"></span>
			</div>

			
		</footer><!-- end of section footer -->

	</aside>
</div>
