<section class="confirm-password">
    <form name="confirmPassowrdForm" novalidate form-submit="doOk()">
        <header>
            Confirm password
            <div class="ngdialog-close right" ng-click="doCancel()"></div>
        </header>
        <article>
            <div class="form-element">
                <label for="password" >Password</label>
                <input type="password" name="password" id="password" ng-model="password" ng-focus set-focus="true" ng-keyup="onKeyUp()">
                <span ng-show="confirmPassowrdForm.password.$error.passwordMismatch"
                      class="alert label">Incorrect password.</span>
            </div>
        </article>
        <footer>
            <button type="button" class="button light" ng-click="doCancel()">Cancel</button>
            <button type="submit" class="button color" ng-disabled="!password">Ok</button>
        </footer>
    </form>
</section>
